@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.pari-app {
     background-color: black;
}

.pari-home {
    height: 100vh;
    background-color: #182527;
    padding: 0;
    margin: 0;
}

.nav {
    /* background-color: #F2DEB9; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pari-sections{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
}

.pari-sections .left{
    flex: 0.3;
    /* background-color: green; */
}
.pari-sections .right{
    flex: 0.7;
    /* background-color: red; */
}
.pari-sections .right button {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    margin-left: 20%;
    outline: 0;
    border-radius: 100px;
    color: white;
    width: 250px;
    border: 0;
    padding: 15px;
    background: #20CD8D;
    font-size: 24px;
    font-weight: 400;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.img1 img {
    margin-top: 1px;
    height: 75px;
    padding: 20px;
    max-width: 100%;
    /* background-color:wheat; */
}

.img2 img {
    width: 60px;
    height: 30px;
    padding: 20px;
    max-width: 100%;
     /* background-color:wheat;  */
} 

.img3 {
    /* width: 260px; */
    /* height: 500px; */
    margin-top: 20px;
    max-width: 100%;
}
.img4{
    height: 75px;
    margin-left: 28%;
    margin-top: 1%;
}


.pari-overview {
    height: 100vh;
    background-color:#CCF4E5;
    padding: 0;
    margin: 0;
}

.pari-overview  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}
.pari-overview   .overview-content{
  
    margin-bottom: 0.1%;
} 
.pari-overview .left button {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    /* margin-left: 20%; */
    outline: 0;
    border-radius: 100px;
    color: white;
    width: 250px;
    border: 0;
    padding: 15px;
    background: #20CD8D;
    font-size: 24px;
    font-weight: 400;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.pari-goals{
        height: 100vh;
        background-color: #182527;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.pari-goals img {
    height: 500px;

}
